<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="utf-8" />
    <title>@ViewData["Title"] - NexusCore Solution</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <!-- Bootstrap -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet" />

    <!-- Иконки -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.1/font/bootstrap-icons.css" rel="stylesheet" />

    <style>
        body {
            padding-top: 70px;
        }
        footer {
            background: #111;
            color: #ccc;
        }
        .cookie-banner {
            position: fixed;
            bottom: 0;
            width: 100%;
            background: #212529;
            color: white;
            padding: 10px;
            text-align: center;
            display: none;
        }
    </style>
</head>

<body class="d-flex flex-column min-vh-100">
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark fixed-top shadow">
        <div class="container">
            <a class="navbar-brand fw-bold" asp-controller="Home" asp-action="Index">
                NexusCore Solution
            </a>

            <button class="navbar-toggler" data-bs-toggle="collapse" data-bs-target="#mainMenu">
                <span class="navbar-toggler-icon"></span>
            </button>

            <div class="collapse navbar-collapse" id="mainMenu">

                <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                    <li class="nav-item">
                        <a class="nav-link" asp-controller="Service" asp-action="Index">Услуги</a>
                    </li>
                    <li class="nav-item">   
                        <a class="nav-link" asp-controller="Portfolio" asp-action="Index">Портфолио</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" asp-controller="Blog" asp-action="Index">Блог</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" asp-controller="Careers" asp-action="Index">Карьера</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" asp-controller="Home" asp-action="Contact">Контакты</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" asp-controller="Home" asp-action="About">О нас</a>
                    </li>
                </ul>

                <!--Поиск-->
                @* <form class="d-flex me-3" asp-controller="Search" asp-action="Index" method="get">
                    <input class="form-control me-2" type="search" name="query" placeholder="Поиск..." />
                    <button class="btn btn-outline-light" type="submit">
                        <i class="bi bi-search"></i>
                    </button>
                </form> *@

                <ul class="navbar-nav">
                    @if (User.Identity.IsAuthenticated)
                    {
                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle" data-bs-toggle="dropdown">
                                @User.Identity.Name
                            </a>
                            <ul class="dropdown-menu dropdown-menu-end">

                                @if (User.IsInRole("Admin"))
                                {
                                    <li class="dropdown-item">
                                        <a class="dropdown-item" 
                                        asp-controller="Admin" 
                                        asp-action="Index">Вакансии</a>
                                    </li>

                                    <li class="dropdown-item">
                                        <a class="dropdown-item" 
                                        asp-controller="Admin" 
                                        asp-action="Response">
                                            Отклики на вакансии
                                        </a>
                                    </li>
                                    <li class="dropdown-item">
                                        <a class="dropdown-item" asp-controller="Admin" asp-action="Projects">
                                            Проекты
                                        </a>
                                    </li>
                                    <li class="dropdown-item">
                                        <a class="dropdown-item"
                                           asp-controller="Admin"
                                           asp-action="Service">
                                            Управление услугами
                                        </a>
                                    </li>
                                    <li class="dropdown-item">
                                        <a class="dropdown-item"
                                           asp-controller="Admin"
                                           asp-action="Blog">
                                            Управление блогом
                                        </a>
                                    </li>
                                    <li class="dropdown-item">
                                        <a class="dropdown-item" 
                                            asp-controller="Admin" 
                                            asp-action="Requests">
                                            Заявки
                                        </a>
                                    </li>
                                }
                                <li>
                                    <form asp-controller="Account" asp-action="Logout" method="post" class="dropdown-item">
                                        @Html.AntiForgeryToken()
                                        <button type="submit" class="dropdown-item">Выйти</button>
                                    </form>
                                </li>
                            </ul>
                        </li>
                    }
                    else
                    {
                        <li class="nav-item">
                            <a class="btn btn-outline-light me-2" asp-controller="Account" asp-action="Login">Вход</a>
                        </li>
                        <li class="nav-item">
                            <a class="btn btn-warning" asp-controller="Account" asp-action="Register">Регистрация</a>
                        </li>
                    }
                </ul>

            </div>
        </div>
    </nav>

    <!-- Главный контент -->
    <div class="container flex-grow-1">
        @RenderBody()
    </div>

    <footer class="mt-auto p-4">
        <div class="container text-center">
            <p>© @DateTime.Now.Year NexusCore Solution. Все права защищены.</p>
            <p>
                <a asp-controller="Home" asp-action="Privacy" class="text-light">Политика конфиденциальности</a>
            </p>
        </div>
    </footer>

    <!-- COOKIE -->
    <div class="cookie-banner" id="cookieBanner">
        Этот сайт использует cookie 🍪
        <button class="btn btn-success btn-sm ms-2" onclick="acceptCookie()">Принять</button>
    </div>

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js"></script>

    <script>
        function acceptCookie() {
            localStorage.setItem("cookieAccepted", "true");
            document.getElementById("cookieBanner").style.display = "none";
        }

        window.onload = function () {
            if (!localStorage.getItem("cookieAccepted")) {
                document.getElementById("cookieBanner").style.display = "block";
            }
        };
    </script>

    @RenderSection("Scripts", required: false)
</body>
</html>
